h1 {
    color: white;
    font-size: 64px;
    font-family: 'Raleway';
}

h2 {
    color: white;
    font-size: 32px;
    font-family: 'Raleway';
}

section {
    height: 100vh;
    width: 100%;
    background-image: url(../../../assets/img/1_hero/JPG/hero_bg.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    >div {
        height: 64vh;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
    }
}

@media (max-width: 550px) {
    h1 {
        font-size: 48px;
    }
    h2 {
        font-size: 24px;
    }
}