nav {
    padding: 32px;
    display: flex;
    justify-content: space-between;
    >img {
        width: 64px;
        height: 64px;
    }
    >div {
        display: flex;
        align-items: center;
        >a {
            padding-right: 16px;
            &:hover {
                color: rgb(231, 233, 120);
            }
        }
        >div {
            display: flex;
            align-items: center;
            background-color: #9F0908;
            padding: 6px;
            border-radius: 12px;
            border-color: white;
            border-style: solid;
            >a {
                padding-left: 6px;
                &:hover {
                    color: rgb(231, 233, 120);
                }
            }
        }
    }
}

a {
    text-decoration: none;
    color: white;
}

@media (max-width: 550px) {
    nav {
        >div {
            >a {
                display: none;
            }
        }
    }
}