<div class="ourMenu">
    <h2>OUR MENU</h2>
    <div class="ourMenuDish">
        <img src="assets/img/3_section_our_menu/Png/R1.png" alt="Tankotus Ramen">
        <div class="ourMenuDishInfo">
            <h3>Tankotus Ramen</h3>
            <tbody>
                <tr>
                    <td>CHICKEN</td>
                    <td>11.95€</td>
                </tr>
                <tr>
                    <td>BEEF</td>
                    <td>12.95€</td>
                </tr>
                <tr>
                    <td>SHRIMP</td>
                    <td>13.95€</td>
                </tr>
            </tbody>
        </div>
    </div>
    <div class="ourMenuDish">
        <div class="ourMenuDishInfo">
            <h3>Spicy Miso Ramen</h3>
            <tbody>
                <tr>
                    <td>CHICKEN</td>
                    <td>11.95€</td>
                </tr>
                <tr>
                    <td>BEEF</td>
                    <td>12.95€</td>
                </tr>
                <tr>
                    <td>SHRIMP</td>
                    <td>13.95€</td>
                </tr>
            </tbody>
        </div>
        <img src="assets/img/3_section_our_menu/Png/R2.png" alt="Spicy Miso Ramen">
    </div>
    <div class="ourMenuDish">
        <img src="../../../assets/img/3_section_our_menu/Png/R3.png" alt="Shio Ramen">
        <div class="ourMenuDishInfo">
            <h3>Shio Ramen</h3>
            <tbody>
                <tr>
                    <td>CHICKEN</td>
                    <td>11.95€</td>
                </tr>
                <tr>
                    <td>BEEF</td>
                    <td>12.95€</td>
                </tr>
                <tr>
                    <td>SHRIMP</td>
                    <td>13.95€</td>
                </tr>
            </tbody>
        </div>
    </div>
</div>
