h2 {
    color: #9F0908;
    font-size: 80px;
    font-weight: bold;
    font-family: 'Raleway';
    display: flex;
    justify-content: center;
    padding: 120px 0 64px 0;
}

p {
    color: black;
    font-weight: bold;
    font-size: 56px;
}

img {
    width: 128px;
    object-fit: cover;
}

.howToOrderDiv {
    display: flex;
    justify-content: space-around;
    >div {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
    }
}