<h2>How To Order</h2>

<div class="howToOrderDiv">
    <div class="howToOrderIcon">
        <img src="assets/img/2_section_how_to_order/PNG/noodle.png" alt="Noodle Icon">
        <p>Pick your</p>
        <p>noodle</p>
    </div>
    <div class="howToOrderIcon">
        <img src="assets/img/2_section_how_to_order/PNG/broth.png" alt="Broth Icon">
        <p>Pick your</p>
        <p>broth</p>
    </div>
    <div class="howToOrderIcon">
        <img src="assets/img/2_section_how_to_order/PNG/egg.png" alt="Egg Icon">
        <p>Add your</p>
        <p>toppings</p>
    </div>
</div>